<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <title>Add login | WassPord</title>
</head>

<body>

    <div class="container">
        <h1>Add new login</h1>
        <form id="regform">
            <input class="gen-text non-table" type="text" id="service" placeholder="service.com" required>
            <input class="gen-text non-table" type="text" id="username" placeholder="Username" required>
            <input class="gen-text non-table" type="password" id="pw" placeholder="Password" required>
            <button class="btn non-table" id="generate" data-n="0" type="button">GENERATE PASSWORD</button>
            <button class="btn non-table" id="toggle" data-n="0" type="button">SHOW PASSWORD</button>
            <button class="btn non-table" id="save-btn0" data-n="0" type="submit">ADD LOGIN</button>
            <button class="btn non-table" id="cancel" data-n="0" type="button">CANCEL</button>
        </form>
    </div>


</body>

<script>
    function generateRandomPassword(length) {
        var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_-+=<>?"

        var password = ""
        for (var i = 0; i < length; i++) {
            var randomIndex = Math.floor(Math.random() * charset.length)
            password += charset[randomIndex]
        }

        return password
    }

    function pwToggle() {
            var x = document.getElementById("pw");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    $(document).ready(function() {

        $('#toggle').on("click", function(e) {
            pwToggle()
            if ($(this).text() == "SHOW PASSWORD") {
                $(this).text("HIDE PASSWORD")
            } else {
                $(this).text("SHOW PASSWORD")
            }
        })

        $('#generate').on("click", function(e) {
            $('#pw').val(generateRandomPassword(12))
        })

        $('#cancel').on('click', function(event){
            location.href = '/logins'
        })

        // When the form is submitted
        $("#regform").submit(async function(event) {
            // Prevent the default form submission
            event.preventDefault();
            const username = $('#username').val()
            const pw = $('#pw').val()
            const service = $('#service').val()

            $.ajax({
                type: "POST",
                url: "/add_new_login",
                data: {
                    'service': service,
                    'username': username,
                    'password': pw
                },
                success: function(data, status, xhr) {
                    //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    location.href = "/logins"
                },
                error: function(xhr, status, error) {
                    alert(`Error: ${xhr.responseText}`)
                    console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                }
            })
        })
    })
</script>

</html>