<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <title>Register | WassPord</title>
</head>

<body>

    <div class="container">
        <h1>Register for WassPord</h1>
        <form id="regform">
            <input class="gen-text non-table" type="text" id="username" placeholder="Username" required>
            <input class="gen-text non-table" type="password" id="pw" placeholder="Password" required>
            <input class="gen-text non-table" type="password" id="pw2" placeholder="Password again" required>


            <button class="btn small-btn non-table" id="save-btn0" data-n="0" type="submit">Register</button>
        </form>
        <div class="reminder">If you already have an account <a href="/login">log in</a> now!
        </div>
    </div>


</body>

<script>
    $(document).ready(function() {
        // When the form is submitted
        $("#regform").submit(function(event) {
            // Prevent the default form submission
            var userError = {
                msg: "",
                triggered: false
            }
            event.preventDefault();
            const username = $('#username').val()
            const pw = $('#pw').val()
            const pw2 = $('#pw2').val()

            if (pw != pw2 && !userError.triggered) {
                userError.msg = "Password and password confirmation fields have to match"
                userError.triggered = true
            }

            if (!userError.triggered) {
                $.ajax({
                    type: "POST",
                    url: "/register_user",
                    data: {
                        'username': username,
                        'pw': pw
                    },
                    success: function(data, status, xhr) {
                        //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                        location.href = "/"
                    },
                    error: function(xhr, status, error) {
                        alert(`Error: ${xhr.responseText}`)
                        console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    }
                })
            } else {
                alert(userError.msg)
            }
        })
    })
</script>

</html>