/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Changa-regular';
    src: url('../font/Changa/static/Changa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Changa-bold';
    src: url('../font/Changa/static/Changa-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #00c7ff;
    /* Light Blue */
    background-color: transparent;
    text-decoration: underline;
}

body {
    font-family: 'Changa-regular';
    background-color: #121212;
    /* Dark Grey */
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 81px;
    flex-direction: column;
    
}

div,
button,
input,
select {
    font-family: 'Changa-regular';
}

.container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #fff;
    /* White */
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    word-wrap: break-word;
}

.gen-text {
    width: 80%;
    padding: 10px;
    border: 1px solid #555;
    /* Dark Grey */
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.gen-text:focus {
    border-color: #00c7ff;
    /* Light Blue */
}

form {
    width: 90%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #00c7ff;
    /* Light Blue */
    color: #fff;
    /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    height: 100%;
    box-sizing: border-box;
    width: 70%;
}

.small-btn{
    width: auto;
}

.btn:hover {
    background-color: #0078a9;
    /* Darker Light Blue */
}

.btn:disabled {
    background-color: #444444;
    /* Dark Grey */
    cursor: default;
    color: #afafaf;
    /* Light Grey */
}

input {
    display: block;
    margin: auto;
}

.modify {
    padding: 0px 5px;
}
.edit-btn {
    margin-right: 8px;
}

.reminder {
    color: white;
    width: 100%;
    margin: 10px auto;
}

#delete-btn {
    background-color: #5f0000;
    /* Dark Red */
}

#delete-btn:hover {
    background-color: #5f0000;
    /* Dark Red */
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.non-table {
    margin-bottom: 15px;
}

.btncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btncontainer > * {
margin-right: 10px;
}

.btncontainer > *:last-child {
    margin-right: 0px;
    }

/*/////////////////*/

table {
    border-collapse: collapse;
    width: 100%;
    color: #00c7ff;
}

th,
td {
    border: 2px solid rgba(255, 255, 255, 0.568);
    padding: 2px 10px;
    text-align: right;
    cursor: pointer;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #444444;
  }

img {
    margin-left: 15px;
    cursor: pointer;
}

.copiable {
    cursor: pointer;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.pageElement,
.btnholder {
    display: flex;
    align-items: stretch;
    text-align: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    cursor: default;
}

.og {
    font-family: 'Changa-regular';
    background-color: #121212;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 81px;
    display: flex;
    white-space: nowrap;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    body {
        margin-top: 0;
    }
    .container {
        max-width: 100%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .reminder {
        width: 95%;
    }
    .og {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
}